* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url("/assets/images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #222;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  overflow-x: hidden;
}

.top-bar {
  background: #9370db;
  backdrop-filter: blur(6px);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  gap: 8px;
  user-select: none;
}

.logo span {
  color: #4c3ead;
  font-weight: bold;
  user-select: none;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 8px;
/*color: #fae100;*/
}

.logosite {
  height: 50px;
  width: auto;
  max-width: 150px;
}

.nav-circles {
  display: flex;
  gap: 20px;
}

.nav-circles.active {
  color: #D4AF37;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #5849ba;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffde73;
}

.circle:hover {
  background-color: #4736b9;
  transform: scale(1.1);
  color: #c990ff;
}

.circle svg {
  width: 18px;
  height: 18px;
}

.logo {
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.menu a:hover {
  color: #c5e1a5;
}

.main-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  min-height: calc(100vh - 120px);
  padding: 40px 20px;
}

.frase-home {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.2);
  margin-top: 10px;
  margin-bottom: 50px;
  user-select: none;
}

.texto {
  display: inline-block;
  border-right: 4px solid;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.0em;
  font-weight: 750;
  animation: typing 5s steps(31, end) infinite, blinkMarker 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 31ch; }
}

@keyframes blinkMarker {
  50% { border-color: transparent; }
}

.ia-button {
  background-color: #5849ba;
  color: #FFFFFF;
  border: 1px solid rgba(234, 180, 5, 0.55);
  box-shadow: 0 0 6px rgba(212,175,55,0.18);
  border-radius: 14px;
  padding: 15px 35px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  user-select: none;
}

.ia-button:hover {
  background-color: #4736b9;
  transform: scale(1.05);
}

.versiculo-box {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  margin: 50px auto;
  padding: 30px 30px 40px 30px;
  max-width: 520px;
  width: 520px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  max-height: 320px;
}

.versiculo-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4c3ead;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  user-select: none;
}

.versiculo-box h2 {
  font-size: 1rem;
  color: #4c3ead;
}

.versiculo-box p {
  font-size: 1.1rem;
  color: #222;
  line-height: 1.6;
  margin-bottom: 20px;
}

.versiculo-box p.versiculo-texto {
  margin-bottom: 2px !important;
}

.versiculo-referencia {
  color: #8E8E93 !important;
  margin-top: 2px;
  display: block;
  font-size: 0.8rem;
  text-align: left;
  font-weight: bold;
}

.btn-compartilhar {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.95rem;
  transition: all 3s ease;
  margin-top: 25px;
  width: 160px;
  user-select: none;
}

.btn-compartilhar:hover {
  background-color: #333;
}

.btn-compartilhar i {
  width: 18px;
  height: 18px;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: transparent;
  color: #bdbdbd;
  font-size: 0.9em;
}